@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800;900&family=Poppins:wght@900&family=Roboto:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
  background: #f9c74f;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* overflow: hidden; */
}

.main-container {
  position: relative;
  top: 20px;
  left: 20px;
  height: 400px;
  width: 400px;
  align-items: center;
  padding-left: 50px;
  margin-left: 80px;
}

#text {
  position: relative;
  color: #f8961e;
  font-weight: 900;
  font-size: 6rem;
  line-height: 0.9em;
  letter-spacing: 2px;
  text-align: center;
  transform: rotate(-28deg) skew(25deg);
}

#text::before {
  content: attr(data-text);
  position: absolute;
  top: 30px;
  left: -30px;
  color: rgba(0, 0, 0, 0.1);
  text-shadow: none;
  filter: blur(8px);
  z-index: -1;
}

#text::after {
  content: attr(data-text);
  top: 27px;
  left: -40px;
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  text-shadow: none;
  /* filter: blur(2px); */
  z-index: -2;
}

/* .ladder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100px;
  width: 100px;
  bottom: 10px;
  left: 300px;
  transform: rotate(63deg) skew(10deg) translateY(-20px);
}

.ladder .leg1 {
  position: absolute;
  background: linear-gradient(to top, #bc6c25, #dda15e);
  width: 100px;
  height: 10px;
  border-radius: 2px;
}

.ladder .leg2 {
  position: absolute;
  top: -5px;
  left: 7px;
  background: linear-gradient(to top, #bc6c25, #dda15e);
  width: 100px;
  height: 10px;
  border-radius: 2px;
}

.ladder .leg1::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 20px;
  background: linear-gradient(to top, #bc6c25, #dda15e);
} */
